<Router>
  <Switch>
   <div>
     {isLoggedIn() && (
       <>
         <Header /> <Sidebar />
       </>
     )}
     <Route path="/register" component={Register} />
     <Route path="/login" component={Login} />
     <Route path="/dashboard" component={Dashboard} />
     {isLoggedIn() && <Footer />}
   </div>
 </Switch>
</Router>
